#Linear Regression on Boston Housing Dataset

##Import the required libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns 

%matplotlib inline

###Boston Housing Dataset

In [2]:
from sklearn.datasets import load_boston
boston_dataset = load_boston()
# import pandas as pd
# import numpy as np


# data_url = "http://lib.stat.cmu.edu/datasets/boston"
# raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
# data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
# boston_dataset = raw_df.values[1::2, 2]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
boston['MEDV'] = boston_dataset.target

##Preparing the data for training the model

In [5]:
from sklearn.preprocessing import StandardScaler

target_col = 'MEDV'
X = boston.loc[:, boston.columns != target_col]
Y = pd.DataFrame(boston[target_col])

scaler = StandardScaler()
scaler.fit(X)
X = pd.DataFrame(scaler.transform(X), columns=boston_dataset.feature_names)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(354, 13)
(152, 13)
(354, 1)
(152, 1)

##Training and testing the model

In [7]:
import torch
import torch.nn as nn

device = "cuda" if torch.cuda.is_available() else "cpu"
print(device)

cpu

In [8]:
class RegressionNN(nn.Module):

    def __init__(self, input_dim, output_dim):
        super().__init__()
        self.hidden_layer1 = nn.Linear(input_dim, 16)
        self.hidden_layer2 = nn.Linear(16, 32)
        self.output = nn.Linear(32, output_dim)

    def forward(self, x):
        x = torch.relu(self.hidden_layer1(x))
        x = torch.tanh(self.hidden_layer2(x))
        x = self.output(x)
        return x

regression_nn_model = RegressionNN(X_train.shape[1], 1)
print(regression_nn_model)

RegressionNN(
  (hidden_layer1): Linear(in_features=13, out_features=16, bias=True)
  (hidden_layer2): Linear(in_features=16, out_features=32, bias=True)
  (output): Linear(in_features=32, out_features=1, bias=True)
)

In [9]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
445,0.821394,-0.487722,1.015999,-0.272599,1.600725,0.248411,0.932580,-0.859060,1.661245,1.530926,0.806576,-3.438577,1.587740
428,0.436817,-0.487722,1.015999,-0.272599,1.073787,-0.130548,0.338718,-0.883922,1.661245,1.530926,0.806576,-2.850120,1.242912
481,0.243762,-0.487722,1.015999,-0.272599,-0.196047,0.662987,0.224924,-0.220259,1.661245,1.530926,0.806576,0.399058,-0.688683
55,-0.418992,3.375039,-1.446951,-0.272599,-1.310392,1.373892,-1.659786,2.330049,-0.523001,-1.082358,-0.256858,0.430417,-1.099392
488,-0.402961,-0.487722,2.422565,-0.272599,0.469104,-1.183370,0.857902,-0.938447,-0.637962,1.798194,0.760340,0.421206,0.757911
...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,0.241850,-0.487722,1.015999,-0.272599,0.244507,-0.243096,0.399171,-0.118435,1.661245,1.530926,0.806576,0.394782,0.326176
189,-0.410777,1.443658,-1.123032,-0.272599,-1.016689,1.282714,-1.055256,0.366822,-0.523001,-0.060801,-1.505237,0.441052,-1.018091
495,-0.399688,-0.487722,-0.211099,-0.272599,0.261784,-0.875644,-1.414418,-0.473678,-0.408041,-0.102376,0.344213,0.401471,0.693431
206,-0.393788,-0.487722,-0.079780,-0.272599,-0.567496,0.058932,-0.571633,0.266139,-0.637962,-0.779455,0.066796,0.418794,-0.235921
355,-0.408113,2.945843,-1.346273,-0.272599,-1.224009,-0.496685,-1.745132,3.228069,-0.637962,-0.440915,1.638828,0.212335,-0.992860

In [10]:
def train(X_train, Y_train, model, epochs=50000, verbose=True):
    X = torch.tensor(X_train.values, dtype=torch.float)
    y = torch.tensor(Y_train.values, dtype=torch.float)
    loss_function = nn.L1Loss()
    optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
    for epoch in range(epochs):
        optimizer.zero_grad()
        output = model(X)
        loss = loss_function(output, y)
        loss.backward()
        optimizer.step()
        if(verbose and epoch % (epochs/10) == 0):
            print(("Epoch :{0:>6} ----> Training Loss: {1}").format(str(epoch), str(loss.item())))
    return model

In [11]:
print(X_train.shape)
print(Y_train.shape)
trained_model = train(X_train, Y_train, regression_nn_model)

(354, 13)
(354, 1)
Epoch :     0 ----> Training Loss: 22.4095401763916
Epoch :  5000 ----> Training Loss: 0.46198078989982605
Epoch : 10000 ----> Training Loss: 0.389851450920105
Epoch : 15000 ----> Training Loss: 0.27518001198768616
Epoch : 20000 ----> Training Loss: 0.22527608275413513
Epoch : 25000 ----> Training Loss: 0.26604846119880676
Epoch : 30000 ----> Training Loss: 0.255374550819397
Epoch : 35000 ----> Training Loss: 0.2131756693124771
Epoch : 40000 ----> Training Loss: 0.2074061930179596
Epoch : 45000 ----> Training Loss: 0.2091396152973175

##Model evaluation

In [12]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# model evaluation for training set
X_tensor = torch.tensor(X_train.values, dtype=torch.float)
y_train_predict = trained_model(X_tensor)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict.detach().numpy())))
r2 = r2_score(Y_train, y_train_predict.detach().numpy())

print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

# model evaluation for testing set
X_tensor = torch.tensor(X_test.values, dtype=torch.float)
y_test_predict = trained_model(X_tensor)
rmse = (np.sqrt(mean_squared_error(Y_test, y_test_predict.detach().numpy())))
r2 = r2_score(Y_test, y_test_predict.detach().numpy())

print("The model performance for testing set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for training set
--------------------------------------
RMSE is 1.3237248515413023
R2 score is 0.978052260276059


The model performance for testing set
--------------------------------------
RMSE is 5.329151839538649
R2 score is 0.7013283432787676